[submodule "includes/eigen"]
	path = includes/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "includes/simpleini"]
	path = includes/simpleini
	url = https://github.com/brofield/simpleini.git
